<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title><%= pageTitle %></title>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css"  >